[safe]
	directory = C:/Users/Administrator/Desktop/project/test/diosclawdesktop
	directory = C:/Users/Administrator/Desktop/project/test/diosclawdesktop
	directory = C:/Users/Administrator/Desktop/project/test/diosclawdesktop
	directory = C:/Users/Administrator/Desktop/project/test/diosclawdesktop
	directory = C:/Users/Administrator/Desktop/project/test/diosclawdesktop
	directory = C:/Users/Administrator/Desktop/project/test/diosclawdesktop
	directory = C:/Users/Administrator/Desktop/project/test/diosclawdesktop
	directory = C:/Users/Administrator/Desktop/project/test/diosclawdesktop
	directory = C:/Users/Administrator/Desktop/project/test/diosclawdesktop
